.background {
  background: #dddddd;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    border-radius: 5px;
    background: #ffffff;
    padding: 10px 20px;
    text-align: center;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.21);

    span {
      font-size: 60px;
    }

    .button {
      margin-bottom: 10px;
    }
  }
}
